<h1>Hello, Rails!</h1>
<p>Find me in app/views/articles/index.html.erb</p>
<ul>
  <% @articles.each do |article| %>
    <li>
      <!-- 
      We can create an html link using the link_to helper method.
      This would replace the following code:
      
      <a href="<%= article_url(article) %>">
        <%= article.title %>
      </a>

      -->
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>
<%= link_to "New Article", new_article_path %>
